// BREAKPOINTS START HERE
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
// BREAKPOINTS END HERE


// MOBILE SUBHEADER
$mobile-subheader-lh: 22px;
$mobile-subheader-ts: 22px;
$mobile-subheader-fw: 600;


// MOBILE PAGE & SECTION HEADER
$mobile-page-section-header-lh: 32px;
$mobile-page-section-header-ts: 42px;
$mobile-page-section-header-fw: 700;



//  MOBILE BODY & FOOTER
$mobile-footer-body-lh: 18px;
$mobile-footer-body-ts: 13px;
$mobile-footer-body-fw: 400;

// MOBILE LABELS AND BUTTONS
$mobile-labels-buttons-lh: 20px;
$mobile-labels-buttons-ts: 10px;
$mobile-labels-buttons-fw: 700;



// COLORS //

$primary-color-silver: #AFAFAF;
$primary-color-bandsite-black: #323232;
$primary-color-white: #FFFFFF;


$seconday-color-mercury: #E1E1E1 ;
$seconday-color-bandsite-darkblack: #000000 ;
$seconday-color-alabaster: #FAFAFA ;
























// MOBILE TEXT LINEHEIGHTS SHORTHANDS START HERE
$mobile-footer-body-lh: 18px;
$mobile-labels-buttons-lh: 20px;
$mobile-subheader-lh: 22px;
$mobile-page-section-header-lh: 32px;
// $mobile-
// $mobile-

// MOBILE TEXT LINEHEIGHTS SHORTHANDS END HERE



// MOBILE TEXTSIZE SHORTHANDS START HERE
$mobile-footer-body-ts: 13px;
$mobile-labels-buttons-ts: 10px;
$mobile-subheader-ts: 22px;
$mobile-page-section-header-ts: 42px;
// $mobile-
// $mobile-

// MOBILE TEXTSIZE SHORTHANDS END HERE



// MOBILE FONT WEIGHTS SHORTHANDS START HERE
$mobile-footer-body-fw: 400;
$mobile-labels-buttons-fw: 700;
$mobile-subheader-fw: 600;
$mobile-page-section-header-fw: 700;
// $mobile-
// $mobile-

// MOBILE TEXT TEXTSIZE SHORTHANDS END HERE


