@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Avenir;
  box-sizing: border-box;
  background-color: #323232;
}

main {
  box-sizing: border-box;
  background-color: white;
}

.nav__header {
  height: 7.8125rem;
  background-color: #323232;
  display: inline-block;
  width: 100%;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav__header {
    height: 5.3125rem;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__options {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .nav__options {
    width: 25%;
    padding-right: 4.6875rem;
  }
}
@media screen and (min-width: 1024px) {
  .nav__options {
    padding-right: 18.75rem;
  }
}
.nav__options--active {
  padding-bottom: 1rem;
  border-bottom: #FAFAFA 4px solid;
  margin-bottom: 0px;
  width: 50%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav__options--active {
    padding-top: 1.1625rem;
    padding-bottom: 1.7125rem;
  }
}
.nav__options--inactive {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav__options--inactive {
    padding-top: 1.1625rem;
  }
}
.nav__site-banner {
  padding-top: 2.1875rem;
  padding-bottom: 0.64rem;
}
@media screen and (min-width: 768px) {
  .nav__site-banner {
    align-self: start;
    position: absolute;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1rem;
    padding-top: 1.25rem;
    left: 3%;
    width: 15vh;
  }
}

.hero__image {
  position: relative;
  background-image: url(../assets/images/hero-bio.jpg), linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5));
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0px;
  margin-top: 0px;
  min-width: 100vw;
  min-height: 36vw;
}
.hero__image__text {
  padding-top: 15%;
  padding-left: 1rem;
  position: relative;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: #FFFFFF;
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .hero__image__text {
    font-size: 56px;
    line-height: 68px;
    font-weight: 700;
    padding-left: 3rem;
  }
}

.about-the-musicians__header {
  color: #323232;
  padding-left: 1rem;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about-the-musicians__header {
    font-size: 43px;
    line-height: 44px;
    font-weight: 700;
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .about-the-musicians__header {
    margin-bottom: 4.125rem;
    margin-top: 2.75rem;
  }
}

.about-the-musicians {
  display: grid;
}
.about-the-musicians__photo {
  width: 95%;
  height: 100%;
  padding-left: 1rem;
  display: flex;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about-the-musicians__photo {
    display: flex;
    padding-left: 7.8125rem;
    width: 72%;
    align-self: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  .about-the-musicians__photo {
    width: 85%;
  }
}
.about-the-musicians__quote {
  padding-left: 1rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about-the-musicians__quote {
    padding-left: 7.8125rem;
    padding-right: 9.5625rem;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
}
.about-the-musicians__quote-author {
  padding-left: 1rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about-the-musicians__quote-author {
    padding-left: 7.8125rem;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 1rem;
  }
}
.about-the-musicians__band-name {
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .about-the-musicians__band-name {
    padding-left: 7.8125rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }
}
.about-the-musicians__band-biography {
  padding-left: 1rem;
  line-height: 18px;
  font-size: 15px;
  font-weight: 400;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about-the-musicians__band-biography {
    display: flex;
    padding-left: 7.8125rem;
    padding-right: 11.5625rem;
  }
}
@media screen and (min-width: 768px) {
  .about-the-musicians__paragraph--left {
    padding-right: 1.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .about-the-musicians__paragraph--left {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 1024px) {
  .about-the-musicians__paragraph--right {
    font-size: 1.125rem;
  }
}

.photo-gallery__header {
  color: #323232;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1.25rem;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 1.25rem;
  margin-bottom: 0px;
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .photo-gallery__header {
    font-size: 43px;
    line-height: 44px;
    font-weight: 700;
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .photo-gallery__header {
    padding-left: 7%;
  }
}

.photo-gallery-container {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .photo-gallery-container {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FAFAFA;
    justify-self: center;
    justify-content: center;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .photo-gallery-container {
    gap: 1.875rem;
    background: #FAFAFA;
  }
}

.photo-gallery__item {
  width: 95%;
  height: 35%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .photo-gallery__item {
    width: 28%;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .photo-gallery__item--bottom {
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .photo-gallery__item--bottom {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.footer {
  background-color: #323232;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-evenly;
  }
}
@media screen and (min-width: 1024px) {
  .footer__contacts {
    padding-left: 5.3125rem;
    justify-content: flex-start;
    gap: 6vw;
  }
}
.footer__person {
  padding-right: 1rem;
  padding-left: 1rem;
}
.footer__person__name {
  margin-top: 0px;
  padding-top: 1.5rem;
  margin-bottom: 0px;
  color: #FFFFFF;
  font-weight: 600;
}
.footer__person_buisness {
  margin-top: 0px;
  color: #FFFFFF;
  font-weight: 600;
}
.footer__person_address {
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer__person_email {
  color: #FFFFFF;
}
.footer__copyright-logo__header {
  margin-bottom: 0px;
  padding-right: 1rem;
  padding-left: 1rem;
}
.footer__contact-header {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1.875rem;
  color: #FFFFFF;
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .footer__contact-header {
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__contact-header {
    font-size: 43px;
    line-height: 44px;
    font-weight: 700;
    padding-left: 5vw;
    padding-top: 3.75rem;
  }
}
.footer__social-logos--facebook {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 2.5vw;
}
@media screen and (min-width: 768px) {
  .footer__social-logos--facebook {
    padding-top: 1.875rem;
    width: 1.8vw;
  }
}
@media screen and (min-width: 1024px) {
  .footer__social-logos--facebook {
    width: 1.2vw;
  }
}
.footer__social-logos--twitter {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 5vw;
}
@media screen and (min-width: 768px) {
  .footer__social-logos--twitter {
    padding-top: 1.875rem;
    width: 3.6vw;
  }
}
@media screen and (min-width: 1024px) {
  .footer__social-logos--twitter {
    width: 2.2vw;
  }
}
.footer__social-logos--instagram {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 4vw;
}
@media screen and (min-width: 768px) {
  .footer__social-logos--instagram {
    padding-top: 1.875rem;
    width: 3vw;
  }
}
@media screen and (min-width: 1024px) {
  .footer__social-logos--instagram {
    width: 1.8vw;
    padding-left: 2.8125rem;
  }
}
.footer__banner {
  margin-bottom: 0px;
  margin-top: 64px;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__banner {
    position: absolute;
    left: 73%;
    height: 5vh;
    width: 16%;
    top: 10%;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__banner {
    height: 5vh;
    width: 10%;
    top: 16%;
  }
}
.footer__copyright {
  padding-right: 1rem;
  padding-left: 1rem;
  color: #FFFFFF;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-left: 2.25rem;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__copyright {
    padding-left: 5vw;
  }
}/*# sourceMappingURL=bio.css.map */