@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
body {
  margin: 0;
  padding: 0;
  font-family: Avenir;
  box-sizing: border-box;
}

.nav-container__header {
  height: 125px;
  background-color: #323232;
  display: inline-block;
  width: 100%;
  color: #FFFFFF;
}
.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-container__options {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .nav-container__options {
    width: 25%;
  }
}
.nav-container__options__active-item {
  padding-bottom: 16px;
  border-bottom: #FAFAFA 4px solid;
  margin-bottom: 0px;
  width: 50%;
  display: flex;
  justify-content: center;
}
.nav-container__options__inactive-item {
  width: 50%;
  display: flex;
  justify-content: center;
}
.nav-container__site-banner {
  line-height: 32px;
  font-size: 42px;
  margin-bottom: 0px;
  font-weight: 200;
}
.hero-container__image {
  position: relative;
  background-image: url(../assets/images/hero-bio.jpg), linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5));
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0px;
  margin-top: 0px;
  min-width: 100vw;
  min-height: 328px;
}
.hero-container__image__text {
  padding-top: 148px;
  padding-left: 16px;
  position: relative;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: #FFFFFF;
  margin-top: 0px;
}

.about-the-musicians-container__header {
  color: #323232;
  padding-left: 16px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 16px;
}
.about-the-musicians-container__photo {
  width: 95%;
  height: 35%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .about-the-musicians-container__photo {
    padding-left: 36px;
    padding-right: 36px;
  }
}
.about-the-musicians-container__quote {
  padding-left: 16px;
  color: #323232;
}
.about-the-musicians-container__quote-author {
  padding-left: 16px;
  color: #323232;
}
.about-the-musicians-container__band-name {
  padding-left: 16px;
}
.about-the-musicians-container__band-biography {
  padding-left: 16px;
  line-height: 18px;
  font-size: 15px;
  font-weight: 400;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about-the-musicians-container__band-biography {
    display: flex;
  }
}
.photo-gallary-container__header {
  color: #323232;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-top: 20px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #FAFAFA;
}
.photo-gallary-container {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .photo-gallary-container {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FAFAFA;
    padding-left: 28px;
    padding-right: 28px;
    justify-self: center;
  }
}
@media screen and (min-width: 1024px) {
  .photo-gallary-container {
    width: 30%;
    margin: 1.25vw 0;
    background: lightpink;
  }
}
.photo-gallary-container__item {
  width: 95%;
  height: 35%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .photo-gallary-container__item {
    width: 25%;
    margin-top: 16px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .social-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-evenly;
  }
}
.footer-container {
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .footer-container__contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
  }
}
.footer-container__person__name {
  margin-top: 0px;
  padding-top: 24px;
  margin-bottom: 0px;
  padding-right: 16px;
  padding-left: 16px;
  color: #FFFFFF;
  font-weight: 600;
}
.footer-container__person_buisness {
  margin-top: 0px;
  padding-right: 16px;
  padding-left: 16px;
  color: #FFFFFF;
  font-weight: 600;
}
.footer-container__person_address {
  padding-right: 16px;
  padding-left: 16px;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer-container__person_email {
  padding-right: 16px;
  padding-left: 16px;
  color: #FFFFFF;
}
.footer-container__copyright-logo__header {
  margin-bottom: 0px;
  padding-right: 16px;
  padding-left: 16px;
}
.footer-container__contact-header {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 30px;
  color: #FFFFFF;
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .footer-container__contact-header {
    padding-left: 36px;
  }
}
.footer-container__social-logos--facebook {
  padding-right: 16px;
  padding-left: 16px;
  width: 2.5vw;
}
@media screen and (min-width: 768px) {
  .footer-container__social-logos--facebook {
    padding-top: 30px;
    width: 1.8vw;
  }
}
.footer-container__social-logos--twitter {
  padding-right: 16px;
  padding-left: 16px;
  width: 5vw;
}
@media screen and (min-width: 768px) {
  .footer-container__social-logos--twitter {
    padding-top: 30px;
    width: 3.6vw;
  }
}
.footer-container__social-logos--instagram {
  padding-right: 16px;
  padding-left: 16px;
  width: 4vw;
}
@media screen and (min-width: 768px) {
  .footer-container__social-logos--instagram {
    padding-top: 30px;
    width: 3vw;
  }
}
.footer-container__banner {
  line-height: 32px;
  font-size: 42px;
  margin-bottom: 0px;
  margin-top: 64px;
  font-weight: 200;
  padding-right: 16px;
  padding-left: 16px;
  color: #FFFFFF;
}
.footer-container__copyright {
  padding-right: 16px;
  padding-left: 16px;
  color: #FFFFFF;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer-container__copyright {
    padding-left: 36px;
  }
}/*# sourceMappingURL=styles.css.map */