@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/fonts' as *;



body {
    margin: 0;
    padding: 0;
    font-family: Avenir ;
  }


  // NAV BAR BEGINS HERE
  .nav-container__header {
    height: 150px;
    background-color: #323232;
    display: inline-block;
    width: 100%;
    color:$primary-color-white;


    @include tablet {

    }
    @include desktop { 

    }

}
  
  
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    @include tablet {

    }
    @include desktop { 

    }
    
    &__options {
      display: inline-flex;
      @include tablet {

      }
      @include desktop { 
  
      }
    }

      &__options__active-item {
          padding-left: 85px;
          padding-right: 85px;
          padding-bottom: 16px;
          border-bottom: #FAFAFA 4px solid;
          margin-bottom: 0px;
          @include tablet {

          }
          @include desktop { 
      
          }
        }

        &__options__inactive-item {
          padding-left: 85px;
          padding-right: 85px;
          @include tablet {

          }
          @include desktop { 
      
          }
        }
  

        &__site-banner {
              line-height: $mobile-page-section-header-lh;
              font-size: 42px;
              margin-bottom: 0px;
              font-weight: 200;
          @include tablet {

          }
          @include desktop { 
      
          }

        }
  }

  

// NAV BAR ENDS HERE
// HERO BEGINS HERE

    .hero-container__image {
    height: 66%;
    width: 100%;

      @include tablet {

      }
      @include desktop { 

      }
      
  
    }
  
  
  // HERO ENDS HERE
  // PHOTO GALLARY BEGINS HERE


.photo-gallary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  width: 100%;
     
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    background: green;
  }
  @include desktop { 
    width: 30%;
    margin: 1.25vw 0;
    background: lightpink;
  }
  
  &__item {
    width: 95%;
    height: 35%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    
    @include tablet {

    }
    @include desktop { 

    }
  }
   
}

  
// PHOTO GALLARY ENDS HERE
// FOOTER BEGINS HERE

.footer-container {
  background-color: #323232;
  
  @include tablet {

  }
  @include desktop { 

  }
}
  