@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/fonts' as *;



body {
    margin: 0;
    padding: 0;
    font-family: Avenir ;
    box-sizing: border-box;
  }


  // NAV BAR BEGINS HERE
  .nav-container__header {
    height: 150px;
    background-color: #323232;
    display: inline-block;
    width: 100%;
    color:$primary-color-white;


    @include tablet {

    }
    @include desktop { 

    }

}
  
  
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    @include tablet {

    }
    @include desktop { 

    }
    
    &__options {
      display: inline-flex;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      @include tablet {

      }
      @include desktop { 
  
      }
    }

      &__options__active-item {
          padding-left: 85px;
          padding-right: 85px;
          padding-bottom: 16px;
          border-bottom: #FAFAFA 4px solid;
          margin-bottom: 0px;
          @include tablet {

          }
          @include desktop { 
      
          }
        }

        &__options__inactive-item {
          padding-left: 85px;
          padding-right: 85px;
          @include tablet {

          }
          @include desktop { 
      
          }
        }
  

        &__site-banner {
              line-height: $mobile-page-section-header-lh;
              font-size: 42px;
              margin-bottom: 0px;
              font-weight: 200;
          @include tablet {

          }
          @include desktop { 
      
          }

        }
  }

  

// NAV BAR ENDS HERE
// HERO BEGINS HERE

    .hero-container__image {
    max-height: 370px;
    width: 100%;

      @include tablet {

      }
      @include desktop { 

      }
      
  
    }

  
  
  
  // HERO ENDS HERE
  // ABOUT THE MUSICIANS STARTS HERE

.about-the-musicians-container__header {
  color:$primary-color-bandsite-black;
  padding-left: 16px;
  font-size: $mobile-page-section-header-ts ;
  line-height: $mobile-page-section-header-lh ;
  font-weight: $mobile-page-section-header-fw;
  
  
  @include tablet {

  }
  @include desktop { 

  }
}

.about-the-musicians-container{


@include tablet {

  }
@include desktop { 

  } 

  &__quote {
  padding-right: 16px;
  padding-left: 16px;
  }

  &__quote-author {
    padding-right: 16px;
    padding-left: 16px;
  }

  &__band-name {
    padding-right: 16px;
    padding-left: 16px;
  }

  &__band-biography{
    padding-right: 16px;
    padding-left: 16px;
  }

}



  
  
  
  
  
  
  
  
  
  
  //  ABOUT THE MUSICIANS ENDS HERE
  // PHOTO GALLARY BEGINS HERE
.photo-gallary-container__header {
  padding-right: 16px;
  padding-left: 16px;
}

.photo-gallary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  width: 100%;
     
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    background: green;
  }
  @include desktop { 
    width: 30%;
    margin: 1.25vw 0;
    background: lightpink;
  }
  
  &__item {
    width: 95%;
    height: 35%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    
    @include tablet {

    }
    @include desktop { 

    }
  }
   
}

  
// PHOTO GALLARY ENDS HERE
// FOOTER BEGINS HERE

.footer-container {
  background-color: #323232;
  
  @include tablet {

  }
  @include desktop { 

  }

    &__contact-header {
      margin-top: 0px;
      padding-top: 24px;
      padding-right: 16px;
      padding-left: 16px;
    }

    &__copyright-logo__header {
      margin-bottom: 0px;
      padding-right: 16px;
      padding-left: 16px;
    }

    &__hours-header{
      padding-right: 16px;
      padding-left: 16px;
    }

    &__social_text{
      padding-right: 16px;
      padding-left: 16px;
    }
}
  