@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/fonts' as *;



body {
    margin: 0;
    padding: 0;
    font-family: Avenir ;
    box-sizing: border-box;
  }


  // NAV BAR BEGINS HERE
  .nav-container__header {
    height: 125px;
    background-color: #323232;
    display: inline-block;
    width: 100%;
    color:$primary-color-white;


    @include tablet {
  

    }
    @include desktop { 

    }

}
  
  
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    @include tablet {

    }
    @include desktop { 

    }
    
    &__options {
      display:flex;
      width: 100%;
      justify-content: space-evenly;
      @include tablet {

      }
      @include desktop { 
  
      }
    }

      &__options__active-item {
          padding-bottom: 16px;
          border-bottom: #FAFAFA 4px solid;
          margin-bottom: 0px;
          width: 50%;
          display: flex;
          justify-content: center;
          @include tablet {

          }
          @include desktop { 
      
          }
        }

        &__options__inactive-item {
          width: 50%;
          display: flex;
          justify-content: center;
          @include tablet {

          }
          @include desktop { 
      
          }
        }
  

        &__site-banner {
              line-height: $mobile-page-section-header-lh;
              font-size: 42px;
              margin-bottom: 0px;
              font-weight: 200;
          @include tablet {

          }
          @include desktop { 
      
          }

        }
  }

  

// NAV BAR ENDS HERE
// HERO BEGINS HERE
    .hero-container{
      
      
      // &__image--text {  
      //   padding-left: 16px;
      //   font-size: $mobile-page-section-header-ts ;
      //   line-height: $mobile-page-section-header-lh ;
      //   font-weight: $mobile-page-section-header-fw;
      //   color: blue;
      //  position: absolute;
      // }

      &__image{
        position: relative;
        // display: flex;
        background-image: url(../assets/images/hero-bio.jpg), linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,0.5));
        background-blend-mode: overlay;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 0px;
        margin-top: 0px;
        min-width: 100vw;
        min-height: 328px;
      }
    
      &__image__text{
        padding-top: 148px;
        padding-left: 16px;
        position: relative;
        font-size: $mobile-page-section-header-ts ;
        line-height: $mobile-page-section-header-lh ;
        font-weight: 600;
        color: $primary-color-white;
        margin-top: 0px;
      
      
      }
    
    }
    
 
  
  
  

  
  
  
  // HERO ENDS HERE
  // ABOUT THE MUSICIANS STARTS HERE

.about-the-musicians-container__header {
  color:$primary-color-bandsite-black;
  padding-left: 16px;
  font-size: $mobile-page-section-header-ts ;
  line-height: $mobile-page-section-header-lh ;
  font-weight: $mobile-page-section-header-fw;
  margin-top: 20px;
  margin-bottom: 16px;
  
  
  @include tablet {

  }
  @include desktop { 

  }
}

.about-the-musicians-container{


@include tablet {

  }
@include desktop { 

  } 

  &__photo {
    width: 95%;
    height: 35%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    margin-bottom: 16px;
    @include tablet {

    }
  @include desktop { 
  
    } 
 

  }

  &__quote {
  padding-left: 16px;
  color: $primary-color-bandsite-black;
  }

  &__quote-author {
    padding-left: 16px;
    color: $primary-color-bandsite-black;
  }

  &__band-name {
    padding-left: 16px;
    $mobile-subheader-fw: 600;
  }

  &__band-biography{
    padding-left: 16px;
    line-height: $mobile-footer-body-lh;
    font-size: $mobile-footer-body-ts;
    font-weight: $mobile-footer-body-fw;
    color: $primary-color-bandsite-black;
    @include tablet {
      display: flex;

    }
  @include desktop { 
  
    } 
  }

&__paragraph{
  
  
  @include tablet {


  }
@include desktop { 

  } 



}

}



  
  
  
  
  //  ABOUT THE MUSICIANS ENDS HERE
  // PHOTO GALLARY BEGINS HERE
.photo-gallary-container__header {
  color:$primary-color-bandsite-black;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-top: 20px;
  font-size: $mobile-page-section-header-ts ;
  line-height: $mobile-page-section-header-lh ;
  font-weight: $mobile-page-section-header-fw;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #FAFAFA;
  @include tablet {
  

  }
@include desktop { 

  } 

}

.photo-gallary-container {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  width: 100%;
     
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FAFAFA;

  }
  @include desktop { 
    width: 30%;
    margin: 1.25vw 0;
    background: lightpink;
  }
  
  &__item {
    width: 95%;
    height: 35%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    margin-bottom: 16px;
    
    @include tablet {
      width: 28%;
      margin-top: 16px;
      padding-left: .5rem;
      padding-right: .5rem;

    }
    @include desktop { 

    }
  }
   
}

  
// PHOTO GALLARY ENDS HERE
// FOOTER BEGINS HERE
.social-container {
  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;;
    align-content: space-evenly;

  }
  @include desktop { 

  }
}



.footer-container {
  background-color: #323232;
  
  @include tablet {
    

  }
  @include desktop { 

  }

  &__contacts {
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-evenly;

    }
    @include desktop { 
  
    }
    
  }


    &__person__name {
      margin-top: 0px;
      padding-top: 24px;
      margin-bottom: 0px;
      padding-right: 16px;
      padding-left: 16px;
      color: $primary-color-white;
      font-weight: $mobile-subheader-fw;
    }
    
    &__person_buisness{
      margin-top: 0px;
      padding-right: 16px;
      padding-left: 16px;
      color: $primary-color-white;
      font-weight: $mobile-subheader-fw;
    }

    &__person_address{
      padding-right: 16px;
      padding-left: 16px;
      color: $primary-color-white;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
    &__person_email{
      padding-right: 16px;
      padding-left: 16px;
      color: $primary-color-white
    }
    
    &__copyright-logo__header {
      margin-bottom: 0px;
      padding-right: 16px;
      padding-left: 16px;
    }
    

    &__contact-header{
      padding-right: 16px;
      padding-left: 16px;
      padding-top: 30px;
      color: $primary-color-white;
      margin-top: 0px;
      @include tablet {
      padding-left: 36px;

      }
      @include desktop { 
    
      }
    
    }

    &__social-logos{
  
    }

    &__social-logos--facebook{
      padding-right: 16px;
      padding-left: 16px;
      width: 2.5vw;
      @include tablet {
        padding-top: 30px;
        width: 1.8vw;
    

      }
      @include desktop { 
    
      }
    
    }
    &__social-logos--twitter{
      padding-right: 16px;
      padding-left: 16px;
      width: 5vw;
      @include tablet {
        padding-top: 30px;
        width: 3.6vw;
    

      }
      @include desktop { 
    
      }
    }
    &__social-logos--instagram{
      padding-right: 16px;
      padding-left: 16px;
      width: 4vw;
      @include tablet {
        padding-top: 30px;
        width: 3vw;
    

      }
      @include desktop { 
    
      }
    }

    &__banner{
      line-height: $mobile-page-section-header-lh;
      font-size: 42px;
      margin-bottom: 0px;
      margin-top: 64px;
      font-weight: 200;
      padding-right: 16px;
      padding-left: 16px;
      color: $primary-color-white

    }
  
    &__copyright{
      padding-right: 16px;
      padding-left: 16px;
      color: $primary-color-white;
      padding-bottom: 24px;
      @include tablet {
        padding-left: 36px;

      }
      @include desktop { 
    
      }
    
    }
  
  }
  